.right-panel {
    &__top {
        width: 320px;
        height: 297px;
        background-color: #ffffff;
        box-shadow: 0px 8px 15px rgba(0, 23, 83, 0.1);
        border-radius: 8px;

        &_toggle {
            padding-top: 32px;
            margin-left: 32px;
            margin-right: 32px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: -0.15px;
            color: #101A4B;
        }
        
        &_wrapper-form {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 33px;
            margin-left: 32px;
            margin-right: 32px;

            &_img {
                font-weight: 600;
                font-size: 11px;
                line-height: 16px;
                text-align: center;
                letter-spacing: -0.15px;
                color: #0351DF;
               
                img {
                    margin-bottom: 3px;
                }
            }


            &_form{
                width: 168px;
                input {
                    width: 168px;
                    height: 40px;
                    padding-left: 16px;
                    border: 1px solid #E9F0FE;
                    border-radius: 6px;
                    font-family: SFProDisplay;
                    font-size: 13px;
                    line-height: 16px;
                    letter-spacing: -0.15px;
                    color: #7082AF;
                    outline: none;
                    
                    &::placeholder { 
                        color: #7082AF;
                        font-family: SFProDisplay;
                        font-size: 13px;
                        line-height: 16px;
                        letter-spacing: -0.15px;
                    }

                    &:first-child {
                       margin-bottom: 10px;
                    }
                }
            }
        }

        &_advice {
            margin: 40px 32px 32px 32px;
            font-size: 13px;
            line-height: 16px;
            letter-spacing: -0.15px;
            color: #7082AF;
        }
    }



    &__bottom {
        width: 320px;
        height: 86px;   
        background-color: #ffffff;
        margin-top: 25px;
        box-shadow: 0px 8px 15px rgba(0, 23, 83, 0.1);
        border-radius: 8px;
        
        &_wrapper {
            padding-top: 23px;
            margin: 0px 32px 23px 32px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            font-size: 15px;
            line-height: 20px;
            letter-spacing: -0.15px;
            color: #101A4B;

             &_label {
                 margin-top: 5px;
             }

        }


        
        



    }
}

.eye {
    position: absolute;
    top:740px;
    right: 16px
}

// toggle *****************************************
.switch {
    position: relative;
    display: inline-block;
    width: 37px;  
    height: 22px;  

    input {display:none;}

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color:  #CACFDB;;
        -webkit-transition: .4s;
        transition: .4s;

        &:before { 
            position: absolute;
            content: "";
            height: 20px; 
            width: 20px;  
            left: 1.20px; 
            bottom: 1.20px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
    }

    input:checked + .slider {
        background-color: #0351DF;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #0351DF;
    }


    input:checked + .slider:before {
        -webkit-transform: translateX(15px); 
        -ms-transform: translateX(15px);
        transform: translateX(15px);
    }
    .slider.round {
        border-radius: 34px;
    }
      
    .slider.round:before {
        border-radius: 50%;
    }
}
// toggle finish ***************************************** 